
body {
    cursor:url(https://i.imgur.com/VJzQt4F.gif), pointer;
    font-family: Rockwell, Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7e740078-f753-4701-a779-c7124d72087f/d6wp8hm-5dc070e2-7109-4933-9d0f-c0be507f94a0.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzdlNzQwMDc4LWY3NTMtNDcwMS1hNzc5LWM3MTI0ZDcyMDg3ZlwvZDZ3cDhobS01ZGMwNzBlMi03MTA5LTQ5MzMtOWQwZi1jMGJlNTA3Zjk0YTAuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.PIbTCigfiVS_14bSsQMB2BrJKjYX3kxtqhcYnMCWaB4") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.instructions {
    position: fixed;
    z-index: 1;
    height: 375px;
    width: 500px;
    margin: 20vh 0vw 30vh 70vw;
    background: rgb(246, 93, 11);
    box-shadow: 5px 2px 20px 12px black;
}
.instructTitle{
    color: white;
}
.light {
    font-style: italic;
}

.centerBody {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

h1 {
    text-shadow: 3px 2px 4px brown;
    color: rgb(255, 153, 0);
    font-style: italic;
    font-weight: bold;
}

p, h2, h3 {
    text-shadow: 3px 2px 4px black;
    font-weight: bold;
    font-size: 22px;
}

.space {
    width: 75px;
    height: 55px;
    font-size: 45px;
    color: black;
}

#levelOneContainer {
    display: grid;
    outline: 2px solid black;
    width: 235px;
    margin: auto;
    padding: 10px 5px 0 5px;
    grid-template-columns: repeat(3, auto);
    background-color: white;
    box-shadow: 5px 2px 20px 12px black;
    height: 100%;
}

.nextlevel, button {
    display: none;
    max-width: max-content;
    font-size: 20px;
    background-color: rgb(42, 246, 42);
    box-shadow: 5px 2px 20px 12px black;
}

.nextStyle {
    display: inline;
}

.resetButton {
    max-width: max-content;
    opacity: 1;
    font-size: 20px;
    display: flex;
    box-shadow: 5px 2px 20px 12px black;
    margin: 0px 25px;
    background-color: red;
}

.resetNextButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.levelOneScore {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.levelOne {
    text-shadow: 3px 2px 4px black;
    margin: 0px 10px 40px 50px;
}

.levelOneLife {
    text-shadow: 3px 2px 4px black;
    margin: 0px 90px 40px 50px;
}
.levelOneStatus {
    margin: 0px 90px 40px 50px;
}

#answer {
    width: 235px;
    height: 50px;
    height: 100%;
    font-size: 40px;
    /* margin: 0 -80px 0 0; */
    outline: 2px solid black;
    box-shadow: 5px 2px 20px 12px black;
}

input {
    text-align: right;
}

.submitAnswer {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* align-content: space-around; */
}

.submit {
    margin: 0 -85px 0 10px;
    display: flex;
    justify-self: flex-end;
    font-size: 20px;
    opacity: 1;
}
/* .candleOne{
    position: static;
    z-index: -1;
    margin: 16vh 0vw 10vh 20vw;
}
.candleOne .flameOne {
    width: 18px;
    height: 40px;
    top: -48px;
    left: 16px;
    background: #f3c81f;
    border-radius: 10px 10px 8px / 30px 30px 12px 12px;
    animation: wind 10s ease-in-out infinite, size 20s ease-in-out infinite, flicker 10s ease-in-out infinite;
    transform-origin: 50% 100%;
} 

@keyframes wind{
    0%, 22%, 49%, 62%, 81%, 100% {
        border-radius: 2px 14px 8px 8px / 20px 20px;
    }
    14%, 32%, 56%, 70%, 89% {
        border-radius: 14px 2px 8px 8px / 20px 20px;
    }
}
@keyframes size {
    0%, 22%, 49%, 62%, 81%, 100% {
        transform:scale(1, 0.9);
    }
    14%, 32%, 56%, 70%, 89% {
        transform:scale(0.9, 0.9);
    }
}
@keyframes flicker {
    0%, 22%, 49%, 62%, 81%, 100% {
        box-shadow: 0 0 20px 0 rgba(255, 202, 0, 0.7);
    }
    14%, 32%, 56%, 70%, 89% {
        box-shadow: 0 0 30px 0 rgba(255, 202, 0, 0.8);
    }}  */

    .smoke {
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        background: url(https://i.imgur.com/Q6mrBSS.jpg)no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        animation: animate 50s linear infinite;
        /* animation-play-state: running; */
    }
    @keyframes animate {
        from {
            background-position: 0 0;
        }
        to {
            background-position: 100% 0;
        }
    } 