body {
    cursor: url(https://i.imgur.com/VJzQt4F.gif), auto;
    font-family: Rockwell, Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    background: url("https://preview.redd.it/potn7vwaxyj91.png?auto=webp&s=6fff5058e625254cbea9cf071d1174e40da8818d") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.centerBody {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-left: 450px;
}

h1 {
    text-shadow: 3px 2px 4px rgb(69, 20, 124);
    color: rgb(251, 251, 251);
    font-style: italic;
    font-weight: bold;
}

p,
h1,
h2,
h3 {
    text-shadow: 3px 2px 4px rgb(69, 20, 124);
    font-weight: bold;
    font-size: 22px;
}

.space {
    width: 75px;
    height: 55px;
    font-size: 45px;
    color: rgb(69, 20, 124);
}

#levelThreeContainer {
    display: grid;
    outline: 2px solid rgb(69, 20, 124);
    width: 235px;
    margin: auto;
    padding: 10px 5px 0 5px;
    grid-template-columns: repeat(3, auto);
    background-color: white;
    box-shadow: 5px 2px 20px 12px rgb(69, 20, 124);
    height: 100%;
}

.nextlevel,
button {
    display: none;
    max-width: max-content;
    font-size: 20px;
    background-color: rgb(42, 246, 42);
    box-shadow: 5px 2px 20px 12px rgb(69, 20, 124);
}

.nextStyle {
    display: inline;
}

.resetButton {
    max-width: max-content;
    opacity: 1;
    font-size: 20px;
    display: flex;
    box-shadow: 5px 2px 20px 12px black;
    margin: 0px 25px;
    background-color: red;
}

.resetNextButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.levelThreeScore {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.levelThree {
    text-shadow: 3px 2px 4px rgb(69, 20, 124);
    margin: 0px 10px 40px 50px;
}

.levelThreeLife {
    text-shadow: 3px 2px 4px black;
    margin: 0px 90px 40px 50px;
}

.levelThreeStatus {
    margin: 0px 90px 40px 50px;
}

#answer {
    width: 235px;
    height: 50px;
    height: 100%;
    font-size: 40px;
    outline: 2px solid black;
    box-shadow: 5px 2px 20px 12px rgb(69, 20, 124);
}

input {
    text-align: right;
}

.submitAnswer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.submit {
    margin: 0 -85px 0 10px;
    display: flex;
    justify-self: flex-end;
    font-size: 20px;
    opacity: 1;
}